.btn-group button {
    background-color: #000000;
    border: 1px Gray;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
    display: inline;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 600px; /* Could be more or less, depending on screen size */
    position: absolute;
}
