.btn-group button {
    background-color: #000000;
    border: 1px Gray;
    color: white;
    cursor: pointer;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 600px; /* Could be more or less, depending on screen size */
    position: absolute;
}

.navbar {
    height: 55px;
    position: absolute;
    right: 0px;
    width: 100%;
}

.linkButton {
    padding-right: 20px;
    right: 0px;
}