#horizontalNav a, #verticalNav a {
    color: white;
    text-align:center;
}

/* Style The Dropdown Button */
.vertical-dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    border: 10px;
    border-color: red;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.vertical-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.vertical-dropdown-content {
    display: none;
    position: absolute;
    background-color: #292B2C;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
    right: 0;
}

/* Links inside the dropdown */
.vertical-dropdown-content a {
    padding: 12px 16px;
    margin-right: 5px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.vertical-dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.vertical-dropdown:hover .vertical-dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.vertical-dropdown:hover .vertical-dropbtn {
    background-color: #3e8e41;
    border-color: red;
}

#content {
    padding-left: 0;
    height: 94%;
}

#content > .row {
    height: 100%;
}

#verticalNav {
    padding: 0;
}

#verticalNav nav {
    height: 100%;
}

#verticalNav .icon {
    font-size: 50px;
    align: center;
}

#verticalNav .nav-link:hover {
    color: gray;
}

#pageContent {
    margin-top: 2rem;
}

#sublist li {
    text: white;
    text-align: center;
    display: block;
    padding-right: 35px
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 825px;
}

.linkButton {
    padding-right: 20px;
    right: 0px;
}

.btn-group button {
    background-color: #000000;
    border: 1px Gray;
    color: white;
    cursor: pointer;
}
.navbar {
    height: 55px;
    right: 0px;
    width: 100%;
}
