{% extends 'layouts/shared/base.html' %}

{% block head %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/users/performance/format.css' %}"/>
    <script type="text/javascript" src="{% static 'javascript/loader.js'%}"></script>
    <script type="text/javascript" src="{% static 'javascript/users/performance/performance.js'%}"></script>
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        <i class="fa fa-line-chart" aria-hidden="true"></i>
        Performance History Visualization
    </div>
    <div class="card-block">
       <head>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                  google.charts.load('current', {'packages':['corechart']});
                  google.charts.setOnLoadCallback(drawChart);

                  function drawChart() {

                  var data = google.visualization.arrayToDataTable([
                        ['Year', 'Score']
                        {% for review in performance.all %}
                        , [ {{ review.date_submitted.year }}, {{ review.score }} ]
                        {% endfor %}
                        ]);

                    var options = {
                      legend: { position: 'right' }
                    };

                    var chart = new google.visualization.LineChart(document.getElementById('line_chart'));
                    chart.draw(data, options);
                  }
            </script>
        </head>
        <body>
        <div id="line_chart"></div>
        </body>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        Performance History
    </div>
    <div class="card-block">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th style="width:16%">Reviewer</th>
                <th style="width:16%">Date</th>
                <th style="width:16%">Score</th>
                <th style="width:16%">Comments</th>
            </tr>
            </thead>
            <tbody>
            {% for review in performance.all %}
            <tr>
                <td>{{ review.reviewer_name }}</td>
                <td>{{ review.date_submitted }}</td>
                <td>{{ review.score }}</td>
                <td>{{ review.comments}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}