<html>
    <head>
        {% load static %}
        <script type="text/javascript" src="{% static 'javascript/jquery-1.12.4.min.js'%}"></script>
        {% load bootstrap4 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
        {% block head %}{% endblock %}
    </head>

    <body>
        {% if current_user %}
            {% include 'layouts/shared/nav_loggedin.html' %}
        {% else %}
            {% include 'layouts/shared/not_logged_in.html' %}
        {% endif %}
        <div id="content" class="container-fluid">
            <div class="row">
                {% if current_user %}
                    {% include 'layouts/shared/side_bar.html' %}
                {% endif %}
                <div id="pageContent" class="col-8 col-sm-9 col-md-9 col-lg-10 col-xl-10">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>

    <script type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $('[data-action="delete"]').click(function() {
            var csrftoken = getCookie('csrftoken');
            var url = $(this).attr('href');
            $.ajax({
                url: url,
                type: 'DELETE',
                headers: {"X-CSRFToken": csrftoken},
                success: function(response) {
                    if (response.msg == "failure") {
                        $('#failure').show(500).delay(1500).fadeOut();
                    } else {
                        $('#success').show(500).delay(1500).fadeOut();
                    }
                },
                error: function(event) {
                    $('#failure').show(500).delay(1500).fadeOut();
                }
            });
        })
    </script>


</html>