<nav id="horizontalNav" class="navbar navbar-toggleable-md navbar-inverse bg-inverse">

    <button class="navbar-toggler navbar-toggler-right" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand ml-4" href="/dashboard/home">DjanGoat</a>

    <div id="navItems" class="collapse navbar-collapse">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <div class="linkButton">
                    <button class="btn btn-warning"><a href="https://github.com/Contrast-Security-OSS/DjanGoat/blob/master/docs/home.md" target="_blank">Visit
                        Tutorial</a></button>

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Welcome, {{ current_user.safe_name }}</a>
            </li>
            <li class="nav-item">
                <div class="vertical-dropdown">
                    <button class="vertical-dropbtn"></button>
                    <div class="vertical-dropdown-content">
                        <a href="/users/{{current_user.user_id}}/account_settings">Account Settings</a>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>