{% extends 'layouts/shared/modal.html' %}

{% block premodal %}
<nav id="horizontalNav" class="navbar navbar-toggleable-md navbar-inverse bg-inverse">

    <button class="navbar-toggler navbar-toggler-right" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand ml-4" href="/dashboard/home">DjanGoat</a>

    <nav class="navbar navbar-light bg-inverse">
        <div class="form-group row justify-content-end">
            <div class="linkButton">
                <button class="btn btn-warning">
                    <a href="https://github.com/Contrast-Security-OSS/DjanGoat/blob/master/docs/home.md" target="_blank">Visit Tutorial</a>
                </button>
            </div>
            <div class="linkButton">
                <a id="tutorialBtn" class="btn btn-danger">Tutorial Credentials</a>
                <!-- The Modal -->
                <div id="tutorialsModal" class="modal" role="dialog">
                    <div class="modal-dialog modal-lg">
                    {% endblock %}
                    {% block title %}
                            Application Credentials (Spoiler)
                    {% endblock %}
                    {% block body %}
                        <div class="row">
                            <div class="span8">
                                <p>Warning, this is a spoiler</p>
                                <p>Are you sure you want to see the credentials?</p>
                                <div id="creds_hidden" style="display:none;">
                                    <table class="table table-striped table-hover table-bordered pull-left"
                                           id="data-table">
                                        <thead>
                                        <tr>
                                            <th>Email </th>
                                            <th>Password</th>
                                            <th>API Key</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td style="word-wrap:break-word;">admin@metacorp.com</td>
                                            <td>admin1234</td>
                                            <td>1-01de24d75cffaa66db205278d1cf900bf087a737</td>
                                        </tr>
                                        <tr>
                                            <td style="word-wrap:break-word;">jack@metacorp.com</td>
                                            <td>yankeessuck</td>
                                            <td>2-050ddd40584978fe9e82840b8b95abb98e4786dc</td>
                                        </tr>
                                        <tr>
                                            <td style="word-wrap:break-word;">jim@metacorp.com</td>
                                            <td>alohaowasp</td>
                                            <td>3-eaa9b4d748d6a8c6a38e24ac1cc2204ebc3541c1</td>
                                        </tr>
                                        <tr>
                                            <td style="word-wrap:break-word;">mike@metacorp.com</td>
                                            <td>motocross1445</td>
                                            <td>4-4c809b3d11d272cff8cab1da9e4cdf61137f29d2</td>
                                        </tr>
                                        <tr>
                                            <td style="word-wrap:break-word;">ken@metacorp.com</td>
                                            <td>citrusblend</td>
                                            <td>5-4af604a848ca212cfa3935352aabe9522cf89fdc</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                    {% block footer %}
                        <button id="understood" class="btn btn-primary" aria-hidden="true">
                            I understand
                        </button>
                    {% endblock %}
                    {% block postmodal %}
                    </div>
                </div>
            </div>
            <div class="linkButton">
                <a href="/login" class="btn btn-info">Log in</a>
            </div>
            <div class="linkButton">
                <a href="/signup" class="btn btn-info">Sign up</a>
            </div>
        </div>
    </nav>
</nav>

{% endblock %}
{% block javascript %}

<script type="text/javascript">

    // Get the modal
    var modal = document.getElementById('tutorialsModal');

    // Get the button that opens the modal
    var btn = document.getElementById("tutorialBtn");

        // Get the hidden credentials
    var hidden = document.getElementById("creds_hidden")

    // Get the <span> element that closes the modal with the x in the corner
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
        hidden.style.display = "none";
    }

    // When the user clicks on the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // Get the <span> element that closes the modal with the Close button
    var span = document.getElementsByClassName("btn btn-secondary")[0];

    // When the user clicks on <span> "Close", close the modal
    span.onclick = function() {
        modal.style.display = "none";
        hidden.style.display = "none";
    }

    // Get the <span> element that shows the credentials with the "I Understand" button
    var btn2 = document.getElementsByClassName("btn btn-primary")[0];

    // When the user clicks on <span> "I Understand", show modal that has credentials
    btn2.onclick = function() {
        hidden.style.display = "block";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
            hidden.style.display = "none";
        }
    }

  //Dropdown
  $('.dropdown-toggle').dropdown();

</script>

{% endblock %}
