<nav id="horizontalNav" class="navbar navbar-toggleable-md navbar-inverse bg-inverse">

    <button class="navbar-toggler navbar-toggler-right" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">PyGoat</a>

    <div id="navItems" class="collapse navbar-collapse">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item active ml-5">
                <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
                <button type="button" class="btn btn-info">Visit Tutorial</button>
            </li>
            <li class="nav-item ml-5">
                <a href="/login/" class="btn btn-info" role="button">login</a>
            </li>
            <li class="nav-item ml-5">
                <a href="/signup/" class="btn btn-info" role="button">Signup</a>
            </li>
        </ul>
    </div>
</nav>
