{% extends 'layouts/shared/base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/users/pay/index.css' %}" />
    <script type="text/javascript" src="{% static 'javascript/users/pay/index.js'%}"></script>
    <script type="text/javascript" src="{% static 'javascript/delete_button.js'%}"></script>
{% endblock %}

{% block content %}
    {% load integer_division %}
    <div id="payIndex">
        <h1 id="pageTitle">{{ current_user.first_name }} {{ current_user.last_name }} Pay Summary</h1>
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header"><i class="fa fa-cog" aria-hidden="true"></i> Direct Deposit</div>
                    <div class="card-block">
                        <div class="well">
                            <form method="post" class="form-inline" action="/users/{{ current_user.id }}/pay/update_dd_info">
                                {% csrf_token %}
                                <label class="sr-only" for="bankAccNumInput">Bank Account Number</label>
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <input type="text" class="form-control" id="bankAccNumInput" name="bankAccNumInput" placeholder="Bank Account Number">
                                    <div class="input-group-addon">#</div>
                                </div>

                                <label class="sr-only" for="bankRouteNumInput">Bank Routing Number</label>
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <input type="text" class="form-control" id="bankRouteNumInput" name="bankRouteNumInput" placeholder="Bank Routing Number">
                                    <div class="input-group-addon">#</div>
                                </div>

                                <label class="sr-only" for="percentDepositInput">Percentage of Deposit</label>
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <input type="text" class="form-control" id="percentDepositInput" name="percentDepositInput" placeholder="Percentage of Deposit">
                                    <div class="input-group-addon">%</div>
                                </div>
                                <button type="submit" value="Submit" class="btn btn-primary mb-2 mr-sm-2 mb-sm-0">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header float-right"><i class="fa fa-table" aria-hidden="true"></i> Accounts</div>
                    <div class="card-block">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="well">
                            <form class="form-inline start">
                                <label for="itemsPerPageSelect">Show</label>
                                <select class="custom-select" id="itemsPerPageSelect" onchange="populateTable(1)">
                                    <option>5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                </select>
                                <label class="afterLabel" for="itemsPerPageSelect">entries</label>



                                <div class="input-group ml-auto">
                                    <label class="ml-auto" for="searchInput">Search</label>
                                    <input type="text" onkeyup="searchFunction()" class="form-control" id="searchInput" name="searchInput" placeholder="Search">
                                </div>
                            </form>

                            <table id="ddTable" class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            Encrypted Bank Account Number
                                            <i id="hint" onclick="encryptedBankNum()" class="fa fa-question-circle-o" aria-hidden="true"></i>
                                        </th>
                                        <th>Bank Routing Number</th>
                                        <th>Percentage of deposit</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="ddTableBody">
                                    {% for entry in direct_deposits %}
                                    <tr id="entry{{ entry.id }}">
                                        <td class="accNum"> {{ entry.bank_account_num }}</td>
                                        <td>{{ entry.bank_routing_num }}</td>
                                        <td>{{ entry.percent_of_deposit }}</td>
                                        <td>
                                            <button data-action="delete" href="/users/{{ current_user.id }}/pay/{{ entry.id }}" class="btn btn-danger">Delete</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end"></ul>
                                </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-md-9">
                <div class="card">

                    <div class="card-header">
                        <i class="fa fa-retweet" aria-hidden="true"></i> Decrypt Bank Account Number
                    </div>

                    <div class="card-block">
                        <div class="well">
                            <div id="post-form" class="form-inline">
                                <label class="sr-only" for="bankAccNumInput">Bank Account Number</label>
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <input type="text" class="form-control" id="decryptAccountInput" placeholder="Bank Account Number">
                                    <div class="input-group-addon">#</div>
                                </div>
                                <button onclick="decryptDirectDeposit()" class="btn btn-primary mb-2 mr-sm-2 mb-sm-0">Submit</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
{% endblock %}
