{% extends 'layouts/shared/base.html' %}

{% block head %}

    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load list_index %}

{% endblock %}

{% block content %}
    <div class="card ml-5 mr-5">
        <div class="card-header"><i class="fa fa-lock icon" aria-hidden="true"></i> 
        Employee Information</div>
        <div class="card-block">
            <div class="container">       
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Income</th>
                            <th>Bonus</th>
                            <th>Years w/ MetaCrop</th>
                            <th>SSN</th>
                            <th>DoB</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ current_user.full_name }}</td>
                            <td>{{ work_info.income }}</td>
                            <td>{{ work_info.bonuses }}</td>
                            <td>{{ work_info.years_worked }}</td>
                            <td class="ssn">{{ work_info.SSN }}</td>
                            <td>{{ work_info.DoB }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    <script type="text/javascript">

        $(document).ready(function () {
            var displaySSN = $("td.ssn").html().replace(/\d{3}.*?\d{2}/, "*****");
            $("td.ssn").html(displaySSN);
        });

    </script>

{% endblock %}
