{% extends 'layouts/shared/base.html' %}

{% block head %}

    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="{% static 'javascript/admin/dashboard.js'%}"></script>
    <script type="text/javascript" src="{% static 'javascript/admin/modal.js'%}"></script>
    {% bootstrap_javascript %}
{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <div id="userDataTable" class="widget-body" tabindex="-1">
        </div>

        <div id="editAcct" class="modal hide slide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
             aria-hidden="true">
        </div>
    </div>

    <script>
    (function() {
       loadTable()
    })();
    </script>

{% endblock %}

