{% extends 'layouts/shared/modal.html' %}

{% block premodal %}
{% load static %}
<div class="modal-dialog" role="document">
    <form id="user-update" class="form" method="patch">
        { % crsf_token % }
        {% endblock %}
        {% block title %}
            Account Settings
        {% endblock %}
        {% block body %}
            <fieldset class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                       value={{user.email}}>

                <label for="firstName">First Name</label>
                <input type="text" name="first_name" class="form-control" id="firstName"
                       aria-describedby="emailHelp"
                       value={{user.first_name}}>

                <label for="lastName">Last Name</label>
                <input type="text" name="last_name" class="form-control" id="lastName" aria-describedby="emailHelp"
                       value={{user.last_name}}>

                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password"
                       placeholder="Enter Password">

                <label for="password-confirmation">Password Confirmation</label>
                <input type="password" name="password_confirmation" class="form-control" id="password-confirmation"
                       placeholder="Enter Password">
                <label for="admin">Is Admin</label>
                <select class="form-control" id="admin" name="is_admin" s>
                    <option selected>{{user.is_admin}}</option>
                    <option>{{other_admin_val}}</option>
                </select>
            </fieldset>
        {% endblock%}
        {% block footer %}
            <button type="button" data-action="delete" href="/admin/{{user.user_id}}/delete_user/" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-primary" id="submit_button" onclick="submitForm({{user.user_id}})">
                Save
                changes
            </button>
        {% endblock %}
        {% block postmodal %}
        </div>
    </form>
</div>
{% endblock %}
{% block javascript%}
<script type="text/javascript" src="{% static 'javascript/admin/validation.js'%}"></script>
<script type="text/javascript" src="{% static 'javascript/delete_button.js'%}"></script>
{% endblock %}

