{% extends 'layouts/shared/base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard/home.css' %}" />
    <script type="text/javascript" src="{% static 'javascript/loader.js'%}"></script>
    <script type="text/javascript" src="{% static 'javascript/dashboard/home.js'%}"></script>
{% endblock %}

{% block content %}
    <input type="hidden" value={{pto_taken}} id="pto_taken">
    <input type="hidden" value={{pto_remain}} id="pto_remain">
    <input type="hidden" value={{sick_taken}} id="sick_taken">
    <input type="hidden" value={{sick_remain}} id="sick_remain">
    <input type="hidden" value={{performance}} id="performance">
    <input type="hidden" value={{401k}} id="401k">
    <input type="hidden" value={{income}} id="income">
    <div class="card">
        <div class="card-header">
            Current Statistics
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-small" checked><i class="fa fa-pie-chart" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-small"><i class="fa fa-bar-chart" aria-hidden="true"></i></button>
            </div>
        </div>
        {% if not current_user.is_admin %}
            <div class="card-body">
                <div class="row">
                    <div class="stats col-md">
                        <div id="chart_div"></div>
                        <p style="text-align: center">Available PTO</p>
                    </div>
                    <div class="stats col-md">
                        <div id="chart_div2"></div>
                        <p style="text-align: center">Sick Days Taken</p>
                    </div>
                    <div class="stats col-md">
                        <div id="chart_div3"></div>
                        <p style="text-align: center">Income</p>
                    </div>
                    <div class="stats col-md">
                        <div id="chart_div4"></div>
                        <p style="text-align: center">Performance Score</p>
                    </div>
                    <div class="stats col-md">
                        <div id="chart_div5"></div>
                        <p style="text-align: center">401k</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
