{% extends 'layouts/shared/base.html' %}

{% block head %}
    {% load static %}
    <script type="text/javascript" src="{% static 'javascript/loader.js'%}"></script>
{% endblock %}

{% block content %}

    <div class="col-md-6 offset-md-3" >

        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <div class="header">
            <h2>Update Account Information</h2>
        </div>

        <form method="post" action="/users/{{current_user.id}}"> {% csrf_token %}

            <input type="hidden" value={{current_user.id}} name="user_id">
            <div class="form-group">
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                        <input type="email" class="form-control" name="email_new" id="email"
                               placeholder="Email"
                               value="{{ current_user.email }}" />
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="first_name" id="first_name"
                               placeholder="First Name"
                               value="{{current_user.first_name}}" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="last_name" id="last_name"
                               placeholder="Last Name"
                               value="{{current_user.last_name}}" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="password_new" id="password"
                               placeholder="New Password" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="confirm" id="confirm"
                               placeholder="Confirm Password" />
                    </div>
                </div>
            </div>

            <div class="actions">
                <input type="submit" value="Submit" id="submit_button", class="btn btn-info btn-large pull-right">
            </div>
            
        </form>
    </div>

{% endblock %}