{% extends 'layouts/shared/base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/benefit_forms.css' %}" />
{% endblock %}

{% block content %}

<div class="dashboard-wrapper">

  <div class="main-container">
    <div class="row-fluid">
        <div class="card-deck">
          <div class="span5">  <!-- Beginning of span-->
            <div id = "health_insurance" class="card">
              <div class="card-header">
                  <div class="title">
                      <i class="fa fa-address-card icon" aria-hidden="true"></i>
                      <span class="fs1" aria-hidden="true"></span> Health Insurance
                  </div>
              </div>
              <div class="card-block">
                <div class="card-block" style="background-color:#e8e8e8">
                  <div>
                      <p> Click on PDF to download </p>
                      <a href="http://localhost:8000/download?name=public%2Fdocs%2FHealth_n_Stuff.pdf&type=File">
                          <i class="fa fa-file-pdf-o fa-3x" aria-hidden="true" style="color: blue">
                          </i>
                      </a>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End of span-->
          <div class="span5">  <!-- Beginning of span-->
            <div class="card">
              <div class="card-header">
                  <div class="title">
                      <i class="fa fa-address-card icon" aria-hidden="true"></i>
                      <span class="fs1" aria-hidden="true"></span> Dental Insurance
                  </div>
              </div>
              <div class="card-block">
                <div class="card-block" style="background-color:#e8e8e8">
                    <div>
                        <p> Click on PDF to download </p>
                         <a href="http://localhost:8000/download?name=public%2Fdocs%2FDental_n_Stuff.pdf&type=File">
                          <i class="fa fa-file-pdf-o fa-3x" aria-hidden="true" style="color: blue">
                          </i>
                      </a>
                    </div>
                </div>
              </div>
            </div>
          </div> <!-- End of span-->
        </div>
    </div>
    <br>

    <div class="row-fluid">
       <div class="span6">  <!-- Beginning of span-->
            <div class="card" style="width:620px">
              <div class="card-header">
                  <div class="title">
                      <i class="fa fa-thumbs-up icon" aria-hidden="true"></i>
                      <span class="fs1" aria-hidden="true"></span> Employee Services
                  </div>
              </div>
              <div class="card-block" style="text-align:left;color:black">
                <div class="current-statistics">
                  <p>
                    Saving for retirement can be difficult. Choosing the plan that is right for you is incredibly important. MetaCorp understands this and offers free one-on-one interaction with a savings counselor. This service is available weekly, Monday thru Wednesday. Sign up through your department's designated finance lead.
                  </p>
                  <hr/>
                  <p>MetaCorp is dedicated to its employees and this service is just one way of showing it!</p>
                </div>
              </div>
            </div>
          </div> <!-- End of span-->
    </div>
  </div>
</div>

{% endblock %}