{% extends 'layouts/shared/base.html' %}

{% block head %}

    {% load static %}
    <script type="text/javascript" src="{% static 'javascript/users/paid_time_off/tether.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'javascript/loader.js'%}"></script>
    <script type="text/javascript" src="{% static 'javascript/users/paid_time_off/bootstrap-datepicker.min.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/users/paid_time_off/bootstrap-datepicker.min.css' %}" />
    <script type="text/javascript" src="{% static 'javascript/users/paid_time_off/paid_time_off.js'%}"></script>
    {% load fullcalendar_tags %}
    {% fullcalendar_css %}
    {% fullcalendar_print_css %}
    {% fullcalendar_jquery %}
    {% fullcalendar_jquery_ui %}
    {% fullcalendar_javascript %}

{% endblock %}

{% block content %}

  <input type="hidden" id="sick_days_taken" value="{{ sick_days_taken }}">
  <input type="hidden" id="sick_days_earned" value="{{ sick_days_earned }}">
  <input type="hidden" id="pto_taken" value="{{ pto_taken }}">
  <input type="hidden" id="pto_earned" value="{{ pto_earned }}">
  <input type="hidden" id="schedules" value="{{ schedules }}">

  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </ul>
  {% endif %}

  <div class="row m-3">

    <div class="col-md-6">
      <div class="row-fluid">
        <div class="card">
          <div class="card-header">PTO Calendar</div>
          <div class="card-block" id="calendar" style="background-color: #e8e8e8"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>Schedule PTO</div>
        <div class="card-block" style="background-color: #e8e8e8">
        <form method="post" action=""> {% csrf_token %}
            <div class="form-group">
                <div class="col-sm-10">
                  <label>Event Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="event_name" id="event_name"  placeholder="My PTO"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10">
                  <label>Event Description</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="event_description" id="event_description"  placeholder="Travel to Europe"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10">
                  <label>Event Dates</label>
                    <div class="input-group input-daterange" data-provide="datepicker">
                      <input type="text" class="form-control" value="" name="date_begin" id="date_begin">
                      <div class="input-group-addon">to</div>
                      <input type="text" class="form-control" value="" name="date_end" id="date_end">
                    </div>
                </div>
            </div>



            <div class="form-group">
              <div class="col-sm-10">
                <div class="actions">
                    <input type="submit" value="Submit" id="submit_button", class="btn btn-info btn-large">
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-3">
    <div class="col-md-12">
      <div class="row-fluid">
        <div class="card">
          <div class="card-header"><span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>Sick Days</div>
          <div class="card-block" id="chart_div" style="background-color: #e8e8e8"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-3">
    <div class="col-md-12">
      <div class="row-fluid">
        <div class="card">
          <div class="card-header"><span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>Paid Time Off</div>
          <div class="card-block" id="chart_div2" style="background-color: #e8e8e8"></div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
