{% extends 'layouts/shared/base.html' %}

{% block head %}
{% load static %}
<script type="text/javascript" src="{% static 'javascript/loader.js'%}"></script>
{% endblock %}

{% block content %}

<!-- support for multiple languages coming soon! -->
<script>
    //document.write("<select style=\"width: 100px;\">");
    //document.write("<OPTION value=1>English</OPTION>");
    //document.write("<OPTION value=2>Spanish</OPTION>");
    var hashParam = location.hash.split("#")[1];
    if (hashParam !== undefined) {
        var paramName = hashParam.split('=')[0];
        var paramValue = decodeURIComponent(hashParam.split('=')[1]);
        if (paramValue != "undefined") {
            document.write("<OPTION value=3>" + paramValue + "</OPTION>");
        }
    }
    //document.write("</select>");


</script>

<div class="col-md-6 offset-md-4">

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="header">
        <h2>Sign Up</h2>
        <p>Fill out the form below to login</p>
    </div>

    <form method="post" action="/users/"> {% csrf_token %}

        <div class="form-group">
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password"
                           pattern=".{6,40}" required title="6 to 40 characters"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" name="confirm" id="confirm"
                           placeholder="Confirm Password" pattern=".{6,40}" required title="6 to 40 characters"/>
                </div>
            </div>
        </div>

        <div class="actions">
            <input type="submit" value="Submit" id="submit_button" , class="btn btn-info btn-large pull-right">
        </div>

    </form>
</div>

{% endblock %}
